<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [@contentFade]="contentFade">
  <ion-card class="welcome-card">
    <img src="https://via.placeholder.com/250" alt="test" />
    <ion-card-header>
      <ion-card-subtitle>Tab 3</ion-card-subtitle>
      <ion-card-title>Welcome to Tab 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque facere quae quisquam voluptates! Blanditiis culpa, expedita fugiat hic nam omnis pariatur perferendis quam qui quod rem saepe, sunt ut voluptates?</p>
    </ion-card-content>
  </ion-card>
</ion-content>
