<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [@contentFade]="contentFade">
  <ion-card class="welcome-card">
    <img src="https://via.placeholder.com/300" alt="test" />
    <ion-card-header>
      <ion-card-subtitle>Tab 2</ion-card-subtitle>
      <ion-card-title>Welcome to Tab 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae incidunt numquam officia omnis quasi. Aspernatur atque distinctio libero quos reprehenderit? Eaque et expedita fugit laborum neque porro quae sequi, sit.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
